*{
    padding:0;
    margin:0;
}

.header0{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.top-header{
    text-align: center;
    background-color: #374a5a;
    padding: 5px;
}

                                                                                   
.hamburger-menu{                                                              
    display: none;
}

.menu-btn {
    position: fixed;/* 固定 */
    top: 10px; /* 上からの距離 */
    right: 10px; /* 右からの距離 */
    display: flex; 
    height: 60px; /* ハンバーガーメニューの背景の高さ */
    width: 60px; /* ハンバーガーメニューの背景の幅 */
    justify-content: center; /* 三本線の左右の中央寄せ */
    align-items: center; /* 三本線の上下の中央寄せ */
    z-index: 90; /* 被った時に上に表示されるように */
    background-color: #ffffff; /* ハンバーガーメニューの背景色 */
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px; /* 三本線の上下幅 */
    width: 25px; /* 三本線の左右幅 */
    border-radius: 3px; /* 三本線の丸み */
    background-color: #464646; /* 三本線の色 */
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px; /* 真ん中の線を起点とした時の一番上の線の距離 */
}
.menu-btn span:after {
    top: 8px;  /* 真ん中の線を起点とした時の一番下の線の距離 */
}

#menu-btn-check:checked ~ .menu-btn span {
background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
bottom: 0;
transform: rotate(45deg);/* 押したら回転する */
}

#menu-btn-check:checked ~ .menu-btn span::after {
top: 0;
transform: rotate(-45deg);/* 押したら回転する */
}

#menu-btn-check {
    display: none;
}

/* ここから、ハンバーガーメニューを押したら表示されるメニューのCSS */

.menu-content {
    width: 100%; /* メニューの横幅 */
    height: 100%; /* メニューの縦幅 */
    position: fixed;
    top: 0;
    left: 100%;/* leftの値を変更してメニューを画面外へ */
    z-index: 80;
    background-color: #464646;/* メニューの背景色 */
    transition: all 0.5s;/* メニューが現れる秒数 */
}

.menu-content ul {
    padding: 70px 10px 0; /* メニュー全体の余白 */
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff; /* メニューの下線 */
    list-style: none;
}

.menu-content ul li a { /* メニューの文字のCSS */
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before { /* メニューの矢印のCSS */
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;/*ハンバーガーメニューを押したら、メニューを画面内へ*/
}
                                                                         

.arrow-wrap{
    position: fixed;
    bottom: 100px;
    right: 40px;
    z-index: 20;
}

.circle-wrap{
    position: fixed;
    bottom: 70px;
    right: 40px;
    z-index: 10;
}

.phone_border{
    display: none;
}

.top-header a{
    color: white;
    text-decoration: none;
}

.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid black;
    background-color:  white;
    opacity: 0.98;
}

.header2{
    display: flex;
    align-items: center;
}

.header2 a{
    padding: 0 25px;
    font-size: 14px;
    display: inline-block;
    color: black;
    text-decoration: none;
}

.header3{
    background-color: black;
    padding: 10px 0;
    margin: 0 20px;
}

.header3 a{
    color: white;
}

.header-img-pc img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    vertical-align: top;
}

.header-img-sp{
    display: none;
}

.header-img1-1{
    position: absolute;
    top: 300px;
    left: 0px;
    text-align: center;
    width: 100%;
}

.header-img1-1 img{
    max-width: 50%;
}

.group{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 50px;
}

.group1{
    margin: 15px;
    background-color: rgb(236, 235, 235);
    text-align: center;
}

.group1 img{
    width: 80%;
}

.group1 h3{
    padding: 40px 0 20px 0;
}

.group1 p{
    padding: 0 0 40px 0;
}

.plan{
    display: flex;
    text-align: center;
}

.plan1{
    width: 50%;
    padding: 100px 0;
}

.plan1 h2{
    display: inline-block;
    text-align: left;
    width: 55%;
    padding-bottom: 20px;
}

.plan1 p{
    display: inline-block;
    text-align: left;
    width: 55%;
    font-size: 14px;
}

.plan2{
    width: 50%;
}

.plan2 img{
    width: 100%;
    vertical-align: top;
}

.point{
    display: flex;
    text-align: center;
}

.point1{
    width: 50%;
}

.point1 img{
    width: 100%;
    vertical-align: top;
}

.point2{
    width: 50%;
    padding: 250px 0;
    background-color: rgb(245, 243, 243);
}

.point2 h2{
    display: inline-block;
    text-align: left;
    width: 55%;
    padding-bottom: 20px;
}

.point2 p{
    display: inline-block;
    text-align: left;
    width: 55%;
    font-size: 14px;
}

.team{
    display: flex;
    text-align: center;
    flex-direction: row-reverse;
}

.team1{
    width: 50%;
}

.team1 img{
    width: 100%;
    vertical-align: top;
}

.team2{
    width: 50%;
    padding: 250px 0;
}

.team2 h2{
    display: inline-block;
    text-align: left;
    width: 55%;
    padding-bottom: 20px;
}

.team2 p{
    display: inline-block;
    text-align: left;
    width: 55%;
    font-size: 14px;
}

.name{
    display: flex;
    text-align: center;
    background-color: rgb(210, 215, 230);
}

.name1{
    width: 50%;
}

.name1 img{
    width: 100%;
    vertical-align: top;
}

.name2{
    width: 50%;
    padding: 280px 0;
}

.name2 h2{
    display: inline-block;
    text-align: left;
    width: 55%;
    padding-bottom: 20px;
}

.name2 p{
    display: inline-block;
    text-align: left;
    width: 55%;
    font-size: 14px;
}

.net{
    text-align: center;
    background-color: rgb(210, 215, 230);
    padding-bottom: 230px;
}

.net h2{
    padding: 110px 0 30px 0;
}

.net1-pc img{
    width: 70%;
}

.net1-sp{
    display: none;
}

.win{
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 100px 0 170px 0;
    justify-content: space-between;
}

.win1 img{
    max-width: 100%;
    height: 350px;
}


.model{
    text-align: center;
}

.model h2{
    padding-bottom: 80px;
}

.model1{
    display: flex;
    width: 70%;
    margin: 0 auto
}

.model2{
    padding: 0 10px;
}

.model2 p{
    font-size: 14px;
}

.model2 img{
    width: 100%;
    padding-bottom: 30px;
}

.model2 a{
    padding: 15px 60px;
    display: inline-block;
    background-color: rgb(40, 39, 59);
    color: white;
    border-radius: 5px;
}

.model4-h3{
    border-top: 1px solid rgb(190, 189, 189);
    padding-top: 35px;
}

.model5-h3{
    padding-top: 35px;
}

.model5-p{
    border-bottom: 1px solid rgb(190, 189, 189);
    padding-bottom: 35px;
}

.soft{
    padding-top: 100px;
}

.soft1{
    font-size: 20px;
    padding-top: 30px;
}

.soft1 a{
    color: black;
}

.soft p{
    font-size: 13px;
    width: 68%;
    margin: 0 auto;
    margin-bottom: 200px;
    text-align: left;
    color: rgb(179, 174, 174);
}

.footer1{
    background-color: rgb(243, 241, 241);
    text-align: center;
}

.footer1-tag img{
    padding: 25px 15px;
    width: 1.3%;
}

.footer2{
    padding: 0 250px;
    background-color: #162331;
    color: white;
}

.footer2-p{
    padding: 100px 45px;
}

.footer3{
    display: flex;
    justify-content: space-around;
}

.footer-command{
    flex-flow: column;
    display: flex;
}

.footer-command a{
    margin-top: 10px;
    font-size: 12px;
    color: white;
    text-decoration: none;
}

.footer4{
    padding: 100px 45px;
    font-size: 12px;
}

.footer-btm{
    display: none;
}



